/** --- Base--- **/

html {
  font-size: 10px;
}

@media only screen and (max-width:1024px) {
  html {
    font-size: 9px;
  }
}
@media only screen and (max-width:768px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width:400px) {
  html {
    font-size: 9px;
  }
}

html, body {
  height: 100%;
}

body {
  background: #151515;
  font-family: 'Neucha', cursive;
  font-size: 2.14rem;
  line-height: 3rem;
  color: #6e6e6e;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

a {
  background: transparent;
  text-decoration: none;
  line-height: inherit;
}

.row {
  width: 94%;
  max-width: 1140px;
  margin: 0 auto;
}

.col-six {
  width: 50%;
}

.col-twelve {
  width: 100%;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/** --- Buttons --- **/

.button,
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  height: 5.4rem;
  line-height: 5.4rem;
  padding: 0 3rem;
  margin: 0 .3rem 1.2rem 0;
  background: #d8d8d8;
  color: #313131;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background: #bebebe;
  color: #000000;
  outline: 0;
}

.button.button-primary,
a.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background: #313131;
  color: #FFFFFF;
}

.button.button-primary:hover,
a.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background: #1f1f1f;
}

button.full-width, .button.full-width {
  width: 100%;
  margin-right: 0;
}

/** --- Intro --- **/

#intro {
  background: #151515 url("../images/intro-image.jpeg") no-repeat center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: 720px;
  display: table;
  position: relative;
  text-align: center;
  font-family: 'Courgette', cursive;
}

.intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
}

.intro-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: translateY(-2.1rem);
  -ms-transform: translateY(-2.1rem);
  transform: translateY(-2.1rem);
}
.intro-content h1 {
  color: #FFFFFF;
  font-size: 8.4rem;
  line-height: 1.071;
  max-width: 900px;
  margin-top: 0;
  margin-bottom: .6rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.intro-content h3 {
  color: #f70777;
  font-size: 2.3rem;
  line-height: 1.565;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: .3rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position {
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #FFFFFF;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position span {
  display: inline-block;
}

/** --- Responsive: Intro --- **/

@media only screen and (max-width:1024px) {
  .intro-content h1 {
    font-size: 7.6rem;
  }
}
@media only screen and (max-width:768px) {
  #intro {
    min-height: 660px;
  }
  .intro-content h1 {
    font-size: 5.2rem;
  }
  .intro-content h3 {
    font-size: 1.8rem;
  }
  .intro-content .intro-position {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width:600px) {
  #intro {
    min-height: 600px;
  }
  .intro-content h1 {
    font-size: 4.6rem;
    margin-bottom: .6rem;
  }
  .intro-content h3 {
    font-size: 1.5rem;
    margin-bottom: .3rem;
    letter-spacing: .2rem;
  }
  .intro-content .intro-position {
    font-size: 1.2rem;
  }
  .intro-content .intro-position span {
    padding: 0 .6rem;
  }
}

/** --- About --- **/

#about {
  background: #fff6f6;
  padding-top: 12rem;
  padding-bottom: 15rem;
}

#about .section-intro {
  margin-bottom: 3rem;
}

.section-intro {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3.6rem;
  position: relative;
}

.section-intro h1 {
  font-family: 'Merienda', cursive;
  color: #FF0077;
  line-height: 1.875;
  margin-bottom: 1.3rem;
  letter-spacing: .4rem;
}

.intro-info {
  margin-top: 4.2rem;
  margin-right: -30px;
  margin-left: -30px;
}

.intro-info img {
  height: 9rem;
  width: 9rem;
  border-radius: 30%;
  margin: .9rem 0 0 0;
  float: left;
}

.intro-info .desc {
  text-align: left;
  padding-left: 13rem;
  color: #000000;
}

.button-section {
  text-align: center;
}
.button-section .button {
  width: 250px;
}

/** --- Responsive: About --- **/

@media only screen and (max-width:1024px) {
  .intro-info {
    margin-right: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width:768px) {
  .section-intro {
    max-width: 650px;
  }
  .intro-info img {
    height: 7.8rem;
    width: 7.8rem;
  }
  .intro-info .desc {
    padding-left: 11rem;
  }
  .button-section .button {
    width: 60%;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width:600px) {
  .section-intro h1 {
    font-size: 1.5rem;
    letter-spacing: .3rem;
  }
  .intro-info {
    text-align: center;
    margin-top: 3rem;
  }
  .intro-info img {
    height: 6.6rem;
    width: 6.6rem;
    float: none;
    display: inline-block;
  }
  .intro-info .desc {
    padding-left: 0;
    text-align: center;
  }
}

/** --- Education --- **/

#education {
  background: #151515 url("../images/education-image.jpeg") no-repeat center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: 720px;
  display: table;
  position: relative;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

#education .education-header {
  text-align: center;
}

#education .education-header h1 {
  font-family: 'Merienda', cursive;
  color: #FF0077;
  padding-bottom: 30px;
}

#education .education-timeline {
  max-width: 980px;
}

#education .timeline-wrap {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}

#education .timeline-wrap::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 35%;
  top: 0;
}

#education .timeline-block {
  position: relative;
  padding-top: 1.5rem;
}

#education .timeline-ico {
  height: 4.8rem;
  width: 4.8rem;
  line-height: 4.8rem;
  background: #313131;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 35%;
  top: 2.9rem;
  margin-left: -2.4rem;
}

#education .timeline-ico i {
  position: relative;
  left: .05rem;
  top: .2rem;
}

#education .timeline-header {
  float: left;
  width: 30%;
  padding-right: 90px;
  text-align: right;
}

#education .timeline-header h3 {
  margin-bottom: 0;
  color: #FFFFFF;
  letter-spacing: .3rem;
}

#education .timeline-header p {
  font-size: 1.6rem;
  color: #FFFFFF;
}

#education .timeline-content {
  margin-left: 35%;
  padding-left: 60px;
}

#education .timeline-content p {
  color: #000000;
}

#education .timeline-content h4 {
  position: relative;
  padding-bottom: 1.8rem;
  font-family: 'Patrick Hand SC', cursive;
  letter-spacing: .3rem;
  font-size: 2.5rem;
  color: #FFFFFF;
}

#education .timeline-content h4::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  bottom: 0;
}

/** --- Responsive: Education --- **/

@media only screen and (max-width:1024px) {
  #education .timeline-header {
    padding-right: 50px;
  }
  #education .timeline-header h3 {
    font-size: 1.8rem;
  }
  #education .timeline-header p {
    font-size: 1.4rem;
  }
  #education .timeline-content {
    padding-left: 50px;
  }
}
@media only screen and (max-width:768px) {
  #education .timeline-wrap::before {
    left: 2.4rem;
  }
  #education .timeline-ico {
    left: 2.4rem;
  }
  #education .timeline-header {
    float: none;
    width: auto;
    padding-right: 15px;
    text-align: left;
  }
  #education .timeline-header h3 {
    font-size: 2rem;
  }
  #education .timeline-header p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #education .timeline-content {
    margin: 0;
  }
  #education .timeline-content h4 {
    padding-bottom: 0;
    padding-top: 2.1rem;
    margin-bottom: .6rem;
    font-size: 1.7rem;
  }
  #education .timeline-content h4::after {
    bottom: auto;
    top: 0;
  }
  #education .timeline-header, #education .timeline-content {
    padding-left: 7rem;
  }
}
@media only screen and (max-width:480px) {
  #education .education-header h1 {
    font-size: 2.2rem;
  }
  #education .timeline-wrap::before {
    left: 1.8rem;
  }
  #education .timeline-ico {
    height: 3.6rem;
    width: 3.6rem;
    line-height: 3.6rem;
    left: 1.8rem;
    margin-left: -1.8rem;
    font-size: 1.5rem;
  }
  #education .timeline-header, #education .timeline-content {
    padding-left: 5.5rem;
  }
}

/** --- Work Experience --- **/

#work-exp {
  background: #fff6f6;
  padding-top: 12rem;
  padding-bottom: 12rem;
  position: relative;
}

#work-exp .section-intro {
 margin-bottom: 1.8rem;
}

#work-exp .section-intro h1{
  font-family: 'Merienda', cursive;
  margin-bottom: 2rem;
  padding-bottom: 30px;
}

.work-exp-content {
  max-width: 1200px;
  color: #000000;
}

.work-exp-content h3 {
  font-family: 'Patrick Hand SC', cursive;
  letter-spacing: .3rem;
  font-size: 2.5rem;
}

.work-exp-content h5 {
  font-family: 'Patrick Hand SC', cursive;
  letter-spacing: .3rem;
  font-size: 2rem;
}

.work-exp-list {
  margin-top: 1.2rem;
  text-align: center;
}
.work-exp-list .work-exp {
  margin-bottom: 1.2rem;
  padding: 0 30px;
}

.work-exp-list img {
  height: 9rem;
  width: 9rem !important;
  border-radius: 30%;
  margin: 0 auto;
}

/** --- Responsive: Work-Exp --- **/

@media only screen and (max-width:768px) {
  .section-work-exp {
    max-width: 650px;
  }
  .work-exp-content h3 {
    text-align: center;
  }
}

@media only screen and (max-width:600px) {
  .section-work-exp h1 {
    font-size: 1.5rem;
    letter-spacing: .3rem;
  }
}

/** --- Projects --- **/

#projects {
  background: url("../images/projects-image.jpeg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: 720px;
  padding-top: 12rem;
  padding-bottom: 12rem;
  color: white;
  position: relative;
}

#projects .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #151515;
  opacity: .75;
}

#projects .section-intro {
 margin-bottom: 1.8rem;
}

#projects .section-intro h1{
  font-family: 'Merienda', cursive;
  margin-bottom: 1.8rem;
  padding-bottom: 30px;
}

.projects-content {
  max-width: 1200px;
}

.projects-content h3 {
  font-family: 'Patrick Hand SC', cursive;
  letter-spacing: .3rem;
  font-size: 2.5rem;
}

.projects-list {
  margin-top: 1.2rem;
  text-align: center;
}
.projects-list .projects {
  margin-bottom: 1.2rem;
  padding: 0 30px;
}

.projects-list img {
  height: 9rem;
  width: 9rem !important;
  border-radius: 30%;
  margin: 0 auto;
}

/** --- Responsive: Projects --- **/

@media only screen and (max-width:768px) {
  .projects-content h3 {
    text-align: center;
  }
}

@media only screen and (max-width:600px) {
  .section-work-exp h1 {
    font-size: 1.5rem;
    letter-spacing: .3rem;
  }
}

/** --- Skills --- **/

#skills {
  background: #fff6f6;
  padding-top: 12rem;
  padding-bottom: 15rem;
}

#skills .section-skills {
  margin-bottom: 3rem;
}

.section-skills {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3.6rem;
  position: relative;
}

.section-skills h1 {
  font-family: 'Merienda', cursive;
  color: #FF0077;
  line-height: 1.875;
  margin-bottom: 1.6rem;
  letter-spacing: .4rem;
  padding-bottom: 30px;
}

.skill-content {
  max-width: 1200px;
  color: #000000;
}

.skill-content h5{
  font-family: 'Patrick Hand SC', cursive;
  letter-spacing: .4rem;
  font-size: 2.3rem;
}

.skills-list {
  margin-top: 1.2rem;
  text-align: center;
}
.skills-list .skill {
  margin-bottom: 1.2rem;
  padding: 0 30px;
  color: white;
}

.skills-list img {
  height: 12rem;
  width: 12rem !important;
  margin: 0 auto;
}

/** --- Responsive: Skills --- **/

@media only screen and (max-width:768px) {
  .section-skills {
    max-width: 650px;
  }
}

@media only screen and (max-width:600px) {
  .section-skills h1 {
    font-size: 1.5rem;
    letter-spacing: .3rem;
  }
}


/** --- Contact --- **/

#contact {
  background: #151212;
  padding-top: 12rem;
  padding-bottom: 15rem;
}
#contact .section-intro h1 {
	font-family: 'Merienda', cursive;
  color: #FF0077;
  line-height: 1.875;
  margin-bottom: 1.6rem;
  letter-spacing: .4rem;
  padding-bottom: 30px;
}
#contact .section-intro h3 {
	color: #FFFFFF;
  letter-spacing: .4rem;
}

.contact-form {
	max-width: 740px;
}

#contact form {
	margin-top: 0;
	margin-bottom: 3rem;
}
#contact form .form-field {
	position: relative;
}
#contact input[type="text"],
#contact input[type="password"],
#contact input[type="email"],
#contact textarea {
	width: 100%;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  background: #1d3f54;
	margin-bottom: 2rem;
  padding: 0.8rem 0;
  padding-left: 2rem;
	border: none;
	border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}
#contact input[type="text"],
#contact input[type="password"],
#contact input[type="email"] {
	height: 4.6rem;
}
#contact textarea {
	resize: none;
}
#contact input[type="text"]:focus,
#contact input[type="password"]:focus,
#contact input[type="email"]:focus {
	border-color: #2c74e8;
	color: #FFFFFF;
}
#contact textarea {
	min-height: 20rem;
}
#contact textarea:focus {
	border-color: #2c74e8;
	color: #FFFFFF;
}
#contactFormSubmit {
	font-size: 1.5rem;
	display: block;
	letter-spacing: .2rem;
	height: 6.6rem;
	line-height: 6.6rem;
	padding: 0 3rem;
	margin-top: 4.8rem;
	width: 100%;
	background: #FF0077;
	color: #FFFFFF;
}
#contactFormSubmit:hover, #contactFormSubmit:focus {
	background: #cc005f;
}

/** --- Responsive: Contact --- **/

@media only screen and (max-width:768px) {
  .contact-form {
    max-width: 300px;
  }
  #contact input[type="text"],
  #contact input[type="password"],
  #contact input[type="email"],
  #contact textarea {
    font-size: 1.5rem;
  }
}

/** --- Alert Boxes --- **/

.alert-box {
	padding: 0.1rem 4rem 0.1rem 3rem;
	position: relative;
	border-radius: 3px;
	font-family: "poppins-regular", sans-serif;
	font-size: 1.5rem;
  width: 30%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.alert-box .close {
	position: absolute;
	right: 1.8rem;
	top: 2.3rem;
	cursor: pointer;
}
.ss-error {
	background-color: #ffd1d2;
	color: #e65153;
}
.ss-success {
	background-color: #c8e675;
	color: #758c36;
}
