.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("images/background1.jpg");
  background-size: cover;
  text-align: center;
  .message {
    margin-top: 50px;
    font-size: 50px;
    color: white;
    font-family: 'Lobster Two', cursive;
  }
  .notification {
    font-size: 16px;
    position: absolute;
    width: 40%;
    right: 0;
    left: 70px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  .notification.success {
    background-color: lightgreen;
  }
  .notification.error {
    color: white;
    background-color: #aa0044;
  }
  .notification.visible {
    opacity: 1;
  }
  .contact-form {
    margin: 50px 0px;
    .form-field {
      margin-top: 20px;
      input, textarea {
        font-family: 'Lobster Two';
        font-size: 20px;
        width: 50%;
        background-color: #191919;
        color: white;
        border: none;
        resize: none;
        padding: 5px 20px;
        box-shadow: 0px 15px 10px -6px black;
      }
      input[type=text], input[type=email], textarea {
        border-bottom: 5px solid #191919;
        padding-bottom: 0px;
        &:focus {
          animation: fade-border-in 0.5s ease-out forwards;
        }
      }
      textarea {
        padding-top: 20px;
      }
      input[type=submit] {
        width: 30%;
        cursor: pointer;
        background-color: #990044;
        &:active {
          background-color: #bb0055;
        }
      }
      input {
        height: 50px;
      }
    }
  }
  @media screen and (max-width: 700px) {
    .notification {
      width: 60%;
      left: 0px;
    }
    .contact-form {
      .form-field {
        input, textarea {
          font-size: 16px;
          width: 70%;
        }
        input[type=submit] {
          width: 70%;
        }
      }
    }
  }
  @keyframes fade-border-in {
    to {
      border-bottom-color: purple;
    }
  }
}
