@import "./styles/SVGArt.scss";
@import "./styles/Main.scss";
@import "./styles/NavBar.scss";
@import "./styles/Home.scss";
@import "./styles/Projects.scss";
@import "./styles/Skills.scss";

html {
  height: 100%;
  body {
    margin: 0;
    height: 100%;
    #app {
      height: 100%;
    }
  }
}
